---
import Layout from "../../components/Layout.astro";
const posts = await Astro.glob("./posts/*.md");
---

<Layout pagetitle="blog" pageDescription="pagina de blogs">
  <h1>Blog</h1>

  <img src="https://images.pexels.com/photos/17463091/pexels-photo-17463091/free-photo-of-miami.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="image">
  <ul>
    {
      posts.map((post, index) => {
        return (
          <li>
            <a href={post.url}>
              {index + 1} - {post.frontmatter.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
