---

const actividades = ['programar', 'ver series', 'escchar musica']
let isActive = true

function toggleActive () {
	isActive = !isActive
}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class={isActive ? "active" : ""} >Hola universo</h1>

		{actividades.map((e, i)=>{
			return <h2 > {e}</h2>
		})}
		<button >change</button>
	</body>
</html>

<style>
	.active{
		color: orange;
	}
</style>