---
import Layout from "../components/Layout.astro";
const actividades = ["programar", "ver series", "escchar musica"];
let isActive = true;

---

<Layout pagetitle="index page" pageDescription="Esta es la pagina inicial">
  <h1 class={isActive ? "active" : ""}>Hola universo</h1>

  {
    actividades.map((e, i) => {
      return <h2> {e}</h2>;
    })
  }
  <button>change</button>
  <a href="/acercade">ir</a>
  <a href='/blog/notas' >blog</a>

  <style>
    .active {
      color: orange;
    }
	a{
		color:white;
	}
  </style>
</Layout>
